/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}


.checkers{
  --item-size: 150px;
  --item-bg-color: #222;
  --item-txt-dark-color: #222;
  --item-txt-light-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, var(--item-size));
  grid-template-rows:  repeat(3, var(--item-size));
  place-content: center;
}

.checkers__item:nth-child(2n+1) {
  background-color: var(--item-bg-color);
  color: var(--item-txt-light-color);
}

.checkers{
  min-height: 100vh;
  font-size: 4vw;
}

.checkers__item{
  display: flex;
  align-items: center;
  justify-content: center;
}